extends layout

block content
    h1(id="label") О программе
    head Программа разработана c применением:
    ul
        li NodeJS,
        li Express + Jade,
        li Socket.IO,
        li MongoDB
        li Автотесты Mocha
    br

    head Исходные условия задачи
    ul.
        Приложение  должно быть реализовано на следующих технологиях: Express/koa, mongodb, socket.io
        Желательно показать использование ES6;
        Стратегия компьютера должна быть реализована в Node.JS коде. Результаты игр (имеется в виду статистика побед с вложенной таблицей "история ходов") должны храниться в mongodb. Игра должна быть анонимной, т.е. без необходимости пользователю регистрироваться.
    br

    head Правила игры
    ul.
        Игроки по очереди ставят на свободные клетки поля 3х3 знаки (один всегда крестики, другой всегда нолики). Первый, выстроивший в ряд 3 своих фигуры по вертикали, горизонтали или диагонали, выигрывает. Первый ход делает игрок, ставящий крестики.
        Обычно по завершении партии выигравшая сторона зачёркивает чертой свои три знака (нолика или крестика), составляющих сплошной ряд.

    include footer