extends layout

block content
    script(src="/userscripts/history.js")

    link(rel='stylesheet', href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.js")
    script(src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")

    h1(id="label") История игр
    div(id="historyBlock")
